@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #0062be;
  display: flex;
  align-items: center;
  padding: 100px;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}
header ul {
  list-style: none;
  display: flex;
}
header ul li {
  margin-left: 2em;
}
header ul li a {
  color: #fff;
  font-weight: 400;
}
.content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.content .textContent {
  position: relative;
  max-width: 660px;
  color: #fff;
}
.content .textContent h2 {
  text-transform: capitalize;
  font-size: 5em;
  line-height: 1.5em;
}
.content .textContent h2 span {
  font-weight: 900;
  font-size: 2em;
  text-transform: uppercase;
}
.content .textContent a {
  background: #fff;
  display: inline-block;
  padding: 0.5em;
  border-radius: 20px;
  text-transform: capitalize;
  color: black;
  margin-top: 10px;
  letter-spacing: 1px;
}
.content .imgBox {
  position: absolute;
  right: 5%;
  top: 2%;
}
.content img {
  max-width: 240px;
  /* margin-top: 10px; */
}
.smallBottles {
  transform: translateX(-50%);
  display: flex;
  position: absolute;
  bottom: 2%;
  left: 50%;
}
.smallBottles img {
  max-width: 25px;
  margin: 8px;
}
.smallBottles li {
  list-style: none;
  cursor: pointer;
  transition: 0.5s;
}
.smallBottles li:hover {
  transform: translateY(-15%);
}
.scMedia li {
  list-style: none;
}
.scMedia li a img {
  filter: invert(1);
  scale: 0.7;
}
