@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}
.sec header .logo {
  position: relative;
  max-width: 80px;
}
.sec {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbfdfa;
  padding: 100px;
  transition: 0.5s;
}
.sec header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 100px;
  background: #090907;
}
.sec header ul {
  display: flex;
}
.sec header ul li {
  margin: 0 20px;
}
.sec header ul li a {
  color: #fbfdfa;
  font-weight: 500;
  font-size: 1.1em;
}
.sec .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.sec .textContent {
  position: relative;
  max-width: 560px;
  color: #090907;
}
.sec .imgBox img {
  max-width: 200px;
}
.sec .imgBox {
  position: relative;
  width: 600px;
  display: flex;
  justify-content: flex-end;
  margin-right: 95px;
}
.sec .content .textContent h2 {
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2em;
}
.sec .content .textContent h2 span {
  font-size: 2em;
}
.sec .content .textContent a {
  background: #090907;
  padding: 10px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 40px;
  color: #fbfdfa;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.sec .smCann li img {
  max-width: 25px;
}
.sec .smCann {
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  cursor: pointer;
}
.sec .smCann li {
  margin-left: 20px;
  transition: 0.5s;
}
.sec .smCann li:hover {
  transform: translateY(-20%);
}
.sec .scMedia {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec .scMedia li a img {
  transform: scale(0.7);
}
@media all and (max-width: 991px) {
  .sec header .logo {
    position: relative;
    max-width: 80px;
  }
  .sec {
    padding: 20px;
    padding-bottom: 90px;
  }
  .sec header {
    padding: 8px 20px;
  }

  .sec header ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #090907;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    visibility: hidden;
    transition: 0.5s;
    opacity: 0;
  }
  .sec header ul.active {
    visibility: visible;
    opacity: 1;
  }
  .sec header ul li {
    margin: 0 0px;
  }
  .sec header ul li a {
    color: #fbfdfa;
    font-weight: 500;
    font-size: 2.5em;
    line-height: 1.5em;
  }
  .sec header ul li a:hover {
    color: #d1272c;
  }
  .navBtn {
    background-image: url(./images/menu.png);
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    transition: 0.5s;
  }
  .navBtn.active {
    background-image: url(./images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    z-index: 2;
    transition: 0.5s;
  }
  .sec .content {
    margin-top: 100px;
    flex-direction: column;
  }
  .sec .textContent {
    position: relative;
    max-width: 100%;
    color: #090907;
  }
  .sec .content .textContent a {
    padding: 6px;
    font-size: 0.8em;
  }
  .sec .content .textContent h2 span {
    font-size: 1.5em;
  }
  .sec .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-top: 30px;
  }
  .sec .smCann {
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    cursor: pointer;
  }
  .sec .smCann li img {
    max-width: 18px;
  }
  .sec .scMedia {
    position: absolute;
    top: 50%;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: rgba(0, 0, 0, 0.2); */
    background: #fbfdfa6e;
  }
}
